[2016-07-21 17:06] geib opened #1 "using lcars with bootstrap"
I am building a new UI to an application and I came across your lcars CSS. My question is can I use lcars with bootstrap CSS, or is lcars complete replacement.?

[2016-12-13 00:49] Garrett- commented on #1
I'm sorry to report but I haven't worked on this project in years. However there has been some build up in interest over the last few months. I might consider getting back into it.

To answer your question, as it currently sits right now you could use it along side bootstrap but it would take a lot of tinkering. I would suggest avoiding this project until I can find the time to bring it back up to

[2016-12-13 00:49] #1 closed

[2017-05-19 16:13] Neuclerium opened #2 "Simple request"
I've stumble on your lcars repository because I was searching for some sort of Web LCARS codes. I know there are plenty sources available but NOT many are worth the effort to be used nowadays. Many of them were made using Flash or old HTML coding. The only I have found so far that is great is Aricwithana/LCARS-SDK but it is a bit complex to use and for more advanced programming. Plus, the owner pu

[2017-05-19 16:52] DBrianKimmel commented on #2
I picked it up somewhere on the net and I have no claim to it.  Perhaps the
original died when some site was closed down.

In any case, I can neither give or deny permission to use it.  I have had
to drop web pages anyway and switch to websockets on android so it may
disappear out of my repositary at any future date,

Sorry
Brian

On Fri, May 19, 2017 at 12:13 PM, Neuclerium <notifications@github.

[2017-05-19 17:08] chrisl8 commented on #2
Hey @Neuclerium  As somebody who has used this myself, can I suggest that you just fork this and then start doing as you please?
By forking it, you'll maintain a new copy, but also make it easy for those of us who know about this to find your new fork.

[2017-06-25 15:21] elijahlucian commented on #2
Were there ever any svgs made?

[2017-06-29 17:09] janos97 commented on #2
I adore your work and will have a fork under my account. Thank you (^_^)

[2017-08-30 12:51] weingrill opened #4 "Link to demo is broken"
"Here is a [demo](http://garrett-.github.io/lcars/) showing how to use all these things together."
The demo-link points to an invalid URL.

[2017-09-25 22:37] joernweissenborn opened #5 "New Owner"
You stated that the package would need a new owner. I wanted to write my own LCARS CSS and would be interested at just continue your work.

I haven't worked with Stylus so far, but I am willing to learn. I will see if can setup everything tomorrow. If you could drop a few hints about the structure it would be helpful!

[2017-09-26 14:05] Garrett- commented on #5
It seems you have already forked this repository. For me to be able to transfer ownership to you you'll need to delete the fork. Let me know when that's done. Once it's yours you can do as you please you don't need to stick with Stylus.

[2017-09-26 14:44] joernweissenborn commented on #5
I deleted the fork.

[2017-09-26 16:01] Garrett- commented on #5
It's yours

[2017-09-26 21:25] joernweissenborn commented on #2
Hi. I took the project over! Thanks for the nice comments and thangs to @Garrett- for building this library.

@Neuclerium : The license is MIT, so you can basically do whatever you want with it.

[2017-09-26 21:25] #2 closed

[2017-09-26 21:25] joernweissenborn commented on #5
Thanks for your work!

[2017-09-26 21:25] #5 closed

[2017-09-26 21:25] joernweissenborn commented on #4
The link should be fixed now.

[2017-09-26 21:25] #4 closed

[2017-11-19 14:19] picardrulez opened #7 "Creating a menu?"
This could just be my lack of css knowledge, but do you have any examples of using the button elements along the left side menu bar?

Also, I've been using your lcars css template for my golang apps and this weekend started turning it into a go library incorporating it into the usual web framework I use.  I hope you don't mind:  www.github.com/picardrulez/lcars

[2017-11-19 16:11] picardrulez commented on #7
I figured out the menu, thanks anyway!

[2017-11-19 17:26] picardrulez commented on #7
Actually, I could probably use a little help.  This is what I came up with for adding menu buttons to the left hand menu (based off of your example html).  I tried having it match your buttons example but for some reason the buttons are overlapping instead of having a space (I'm trying to get a space the same size as the the space between the bend at the top and the menu filler.  I tried adding a

[2017-11-19 17:33] picardrulez commented on #7
Figured it out!  I did the opposite similar to how you did your section showing the colors:  swtiched the column and row around and removed all of those rows in between each element.

[2017-11-26 18:17] joernweissenborn commented on #7
I am happy you could solve your problem! Sorry for not responding earlier, I forgot to put notifications on :)

Feel free to ask if you have further problems! I would love some feedback and maybe see what people are doing with it.

[2017-11-26 18:17] #7 closed

[2017-11-27 05:06] joernweissenborn opened #8 "Create release"
It would be nice if user could just download a zip with css instead of cloning the entire repo.

[2019-03-29 23:52] MrOnosa opened #9 "Add link to repo from demo"
Google took me to http://joernweissenborn.github.io/lcars/, but it doesn't have a link to https://github.com/joernweissenborn/lcars

[2019-03-31 13:20] MrOnosa commented on #9
Also I'd love to show you how I used this to make something cool. I couldn't find a twitter or any way to contact you.

[2019-04-13 17:14] sstephans opened #10 "change color of outer frames?"
sorry for the noob question, I'm trying to see how I might change the color of the outer frame elements, but I can't figure it out.

Thanks for the cool template!

[2019-04-13 17:34] sstephans commented on #10
Figured it out, sorry.

[2019-04-13 17:34] #10 closed

[2019-04-13 18:17] sstephans opened #11 "full width?"
ok sorry last troubleshooting requst. When I try to add something, it will not go all the way to the right of the frame, maybe only like 50%. Where can I find this attribute to make the container bigger?

[2019-04-14 14:26] #11 closed

[2019-08-15 11:34] tenleftfingers opened #12 "Thank you."
Not an issue, but a thanks for making this. I was able to add some basic animation to make important buttons pulseate and animate list items. Just the beginning of a small personal project https://www.youtube.com/watch?v=FW3wi8TL8_s&feature=youtu.be

[2019-08-15 14:48] tenleftfingers opened #13 "How to change the header and footer?"
I've managed to change the header orientation using a scaleY(-1) transform.
![Untitled2 2019-08-15 15_44_53](https://user-images.githubusercontent.com/1757768/63102818-bb896a00-bf73-11e9-9b20-7cb26829323f.gif)
But really I'd like to be able to put a header in any place as a row. It seems to be 'stuck' to the top. The newer LCARS displays have the header and footer swapped (so their bars meet in th

[2019-08-15 14:48] #12 closed

[2019-08-15 15:59] sfranzyshen commented on #8
I have also been playing around with alternatives to cloning the entire repo ... have a look
[alternate-deployment-models](https://sfranzyshen.github.io/LCARS-SDK-ARCHIVE/#alternate-deployment-models)

[2019-08-15 21:28] joernweissenborn commented on #12
Thanks for showing that to me @tenleftfingers

It is one best feelings to see that your work helps other to create cool stuff! If you have any troubles, just write an issue, I am happy to assist.

[2019-08-15 21:31] joernweissenborn commented on #9
Hi, Sorry for the late reply. I would really love to see what you did with it!

Thanks for the hint with the link, I will add one.

[2019-08-15 21:47] joernweissenborn commented on #13
Hi, I see what you want to achieve.

The `header` and `footer` are actually just convenience classes for 'simple' UIs.

For your more complex case, I would rather directly start at the `body` and structure your interface with `lcars-row` and `lcars-column`. You can put the `elbow` anywhere, also outside footer. there is also no need to manually mirror it, since ou can just write `lcars-elbow left-

[2019-08-15 22:03] joernweissenborn commented on #8
Since I got a enough feedback and the project seams to really found users, I am to make more examples, tweak everything a little, I and make a `1.0` release within in this year. I will continue to maintain the library after that.

Feedback is very much appreciated, please issue tracker!

Thanks for your interest, it is really motivating!

[2019-08-15 22:21] joernweissenborn opened #14 "Make more complex example"
The current demo only shows how to use the convenience `lcars-app-container`, which is a rather conservative form for app. Most users wish to create more fancy UIs for which the `lcars-app-container` is unsuited.

[2019-08-15 23:24] MrOnosa commented on #9
[Here it is](https://mronosa.keybase.pub/lcars.mp4)!

[2019-08-15 23:24] #9 closed

[2019-08-16 10:24] tenleftfingers commented on #12
Thanks @joernweissenborn, and also thanks for the responses to my other question! I'll experiment with that information and come back. Much appreciated.

[2019-08-17 00:03] joernweissenborn commented on #12
Welcome ;)

[2019-08-17 02:28] tenleftfingers commented on #13
That is a big help, thank you. Once you explained the header and footer, I was able to arrange things differently. I'm a novice, so my code is a bit crazy. I'm looking forward to seeing your more complex example :)

It's incredible the way things align so well. Just like the real thing. Well done!
![lcars 2019-08-17 03_27_39](https://user-images.githubusercontent.com/1757768/63205614-fdfb9580-c09e

[2019-08-18 00:18] joernweissenborn commented on #13
Thank you alot! I did m job well apparently ;)

The buttons and things are actually really easy shapes. But IMHO the core experience of LCARS is exactly the alignment. So you can do that with plain CSS as well, but this library is mainly intended to handle the edge cases and give you designs out of box.

You should look at this btw if you haven't: http://www.lcars-terminal.de/tutorial/guideline.ht

[2019-08-18 00:21] joernweissenborn commented on #13
By the why, your work looks beautiful, love staring at the gif :)

[2019-08-18 00:23] joernweissenborn commented on #13
can you share the code of your example? I this I basically what I had in mind as example.

[2019-08-18 03:29] tenleftfingers commented on #13
Great link, thank you. I will read it all in detail. Pity about the other article :/ Glad you like the gif! I'm also staring at it, imagining all kinds of things that can be build with your libarary; RSS reader, e-mail client, wikipedia browser, google-translate interface, a music player ... :)

I'm attaching my code. It's messy because I don't know what I'm doing so lots of inline styling. The fu

[2019-08-18 03:48] vGoldsmith commented on #13
Thanks for breaking it down, @joernweissenborn!

@tenleftfingers Dang, I was hoping for a purely css solution.

[2019-08-18 04:22] tenleftfingers commented on #13
vGoldsmith, the PHP can be removed and change the file extension to html. Without the PHP, the two strings (small blue paragraph text up top) will need to be pasted in the Javascript section above for "txt1 =" and "txt2 ="

I'm happy to do it for you, but since my file looks really terrible on anything that isn't 1280 or 1600 wide, it might not be much use to you anyway.

[2019-08-18 20:35] joernweissenborn commented on #13
@vGoldsmith what do mean with not pure css solution?

Please give me further detail about what you want to achieve.

TLF <notifications@github.com> schrieb am So., 18. Aug. 2019, 06:22:

[2019-08-19 00:25] vGoldsmith commented on #13
I think I understand the layout a little better after reviewing tenleftfingers's project.  @joernweissenborn thanks! This will be enough for me I believe but for the future I support #14 100%

[2019-08-19 23:14] joernweissenborn commented on #14
Thanks for the love, I am on it.

What I want to know: what should a basic example should include?

It is clear that elbow and the grid has to be explained.

But there are always so many details to be solved and thought of.

I would really love  get input from you guys out there.

Live long and prosper!

[2019-08-20 00:08] DBrianKimmel commented on #14
Here's an idea.  Make the example in the form of a mini-tutorial.

First, explain the philosophy needed to set up a working lcars display.
Then do several basic page types with a minimal setup code.  Perhaps a page
with an outside border of sweeps and test in the middle (leave out the
text, just indicate where it would go.
Several different page styles some using headers and footers would be great

[2019-08-20 12:12] tenleftfingers commented on #14
Two illustrations I'd like to see. Maybe seperate or maybe they can be done in one demo. Lots of comments in the code would help.

1) My main question is about how to lay things out (the grid, as you say). Avoiding the included header, footer (and maybe container classes) would be helpful in this instance, to see how the components behave in more varied scenarios. Any fundamental rules of layout t

[2019-10-27 21:49] tenleftfingers opened #15 "Applied example"
I got distracted by another project called php-desktop that I hope to wrap all this in (if I ever finish), but here's an actual application that I use (and need) which uses this CSS LCARS library.

First, here is the splash screen. It just remains until most of the screen elements have loaded.
![lcars01](https://user-images.githubusercontent.com/1757768/67641964-c14de500-f8fe-11e9-8931-42268c937d8

[2019-10-27 22:36] joernweissenborn commented on #15
WTF, you created this with this CSS? I mean I hoped for people will do cool stuff but this is really cool.

I am glad to be part of your amazing work.

What wonders me is the question if the LCARS style, besides looking cool, can have really advantage. I think linke a hunge touch screen with the state of your smart home. My longtime goal with this would be to enable nice panels for light switches

[2019-10-28 23:18] joernweissenborn opened #16 "Call for collaborators"
Hi everybody, I can really use some hands to maintain this in the future, so I am looking for people helping me to keep this project alive and usable.

There is alot of things to do (most importantly fix and extend documentation/examples), answer questions and so on, which I unfortunately don't have much time for. At least not not as much as I want. So if somebody has time to help, just reply to t

[2019-10-30 19:55] tenleftfingers commented on #15
Thank you my friend. For the LCARS advantage, well, I find it advantageous already. It's consistent, attractive and distraction-free. Also, with so many buttons available one display can serve almost any purpose. I don't know what I will do with all these in my example :)

For purposes that don't require detailed manual data entry - LCARS is easily the perfect choice. All IOT devices can be interf

[2019-10-31 18:00] tenleftfingers commented on #16
I was about to post an issue/question when I saw this :) I will help in any way I can. But, things are a little unpredictable at present and I cannot say how much time I will have from month to month.

[2019-11-03 23:54] joernweissenborn commented on #16
Hi, thank you for much for the answer and your offer to help!

All of this are cool ideas. Please open up separate issues for all of them so we then discuss it in detail.

So my next would be:

* overhole current example
* make/link more examples
* ask what other people would like and find time to implement :)

That is my rough plan. This shall be a community driven project, so besides this it is

[2019-11-04 00:03] joernweissenborn opened #17 "Create themes"
As @tenleftfingers pointed out, there should be a way to theme stuff aka provide smaller colour palettes named after a popular tv series and movies.

what needs to happen:

* color palettes be defined
* appropriate `lcars-COLONAME-SHIPNAME-bg` classes need to be created

[2019-11-12 10:27] tenleftfingers opened #18 "Elbow component needs margins to match other elements"
I've come across this issue while using lcars-columns to lay out components. (lcars-column makes the ideal layout tool for responsive design since columns can be turned off. So when I create lcars-rows, I create them within an lcars-column).

![pic](https://user-images.githubusercontent.com/1757768/68662454-bf0d9c80-0534-11ea-84c1-b633f5014ea1.png)

Also, there is naturally a gap between the objec

[2019-11-12 10:36] tenleftfingers opened #19 "Define what is 'base' LCARS CSS and what belongs in external files."
LCARS evolved a little over time. It would be nice to decide how to divide the newer styles from the original. Personally, I think this project should include anything in LCARS from TNG Enterprise D.

But, it's possible this LCARS evolution took place between Season 1 and 7, so I will go through and screenshot. Just to be sure. Also, the bridge, sickbay and engineering changed. Cargo bay also has

[2019-11-12 10:44] tenleftfingers opened #20 "Create LCARS CSS from Star Trek Nemesis [In progress] [Replica]"
Some screens were clearly shown in Nemesis. I'm working on creating them, although my CSS might need supervision :)
![lcars-nemesis](https://user-images.githubusercontent.com/1757768/68664618-8a9bdf80-0538-11ea-9d84-9af2b7b039ba.gif)
I've already linked preliminary HTML/CSS in issue #18, but here is a screenshot of progress. Any help appreciated.

![Gabháil Scáileáin ó 2019-11-12 10-42-00](htt

[2019-11-13 00:03] joernweissenborn commented on #19
So, my plan so far is the following:

There is this color palette I just found in a lcars guide which has been afaik taken down. I took the codes from (here)[https://codepen.io/Mokurunner/details/eqtHl], but I know this is not the original source. My 'work' was to put th color codes into a webtool I don't remember anymore to translate them to human readable names instead of hexcodes (`lcars-navy-b

[2019-11-13 00:12] joernweissenborn commented on #16
@tenleftfingers You should be able to find my mail address here https://github.com/glotaran/pyglotaran. Please write me an E-Mail!

[2019-11-13 12:45] tenleftfingers commented on #19
Personally, I like you're idea to make examples better. That way the colors can still be grouped by series, but as examples/suggestions rather than a more complicated way.

I don't know if my method (using DVD screenshots) will yield accurate colors yet. In some cases for example, zooming in on a button shows a few different shades of the same color and an imperfect/human judgement still has to be

[2019-11-15 00:48] jrwarwick opened #22 "Hyperlink Anchor tags need styling"
Hyperlinks should have new default styling. Recommend including the pseudo classes

- :active
- :link
- :visited
- :active

[2019-11-16 20:30] jrwarwick opened #24 "Replacement or notes on replacement sound effects that are more authentic"
Previously, audio support was added and some totally inauthentic cheesy place holder sounds effects were included. I have gotten permission from The current owner of STdimension to use the collection of sfx, including renaming files, and distributing. He noted that it would be advisable to review liability, and to include disclaimer and attribution to CBS/Paramount if we do it. I'm in favor of thi

[2019-11-16 20:42] jrwarwick opened #25 "Typeface/font that is more LCARSish"
While the current text font is sans serif and pretty clean, I think it is not narrow enough, and some of more recognizable glyphs (like S and C and R and 9) just don't quite feel LCARSish.  I recommend a search on the  [Open font library](https://fontlibrary.org/) first. There are also a few nice commercial fonts that are specifically emulating LCARS, but I imagine we would not be allowed to redis

[2019-11-16 23:07] joernweissenborn commented on #25
Yeah, the current font is not the best. We can't use commercial ones, we have to keep our head downs so we will not get a DMCA or things.

I basically want to leave the font to users, but a nicer default would be cool. But it must be open source and widely available, I don't want to distribute a font with this package or have anywhere a default CDN. The library MUST NOT load anything from somewher

[2019-11-16 23:08] joernweissenborn commented on #22
Hi, can you elaborate on this? I am not a WebDev so I am not up to date with CSS best practices.

[2019-11-16 23:09] joernweissenborn commented on #24
I would say we should get sounds inside out and leave it to the users to provide sounds! Can you make a PR for that?

[2019-11-16 23:13] joernweissenborn commented on #24
The reason is, besides that we could get trouble providing original sound, it blows up the repository (audio and git don't like each other). But I am open for reasons to have some "cheese" placeholders in.

[2019-11-16 23:19] joernweissenborn commented on #18
I know the issue. There is option to give an element the `last-child` property to tell it does not need margin when you nest layouts.

[2019-11-16 23:28] tenleftfingers commented on #18
Oh, very cool! Thanks, I'll look into this more.

[2019-11-16 23:29] jrwarwick commented on #24
I understand, I will make a deletion PR. The place holders would only have
value to make the gh-pages demo easier to manage, with full capability
demonstrated.

  --Justin

On Sat, Nov 16, 2019, 15:13 Jörn Weißenborn <notifications@github.com>
wrote:

[2019-11-16 23:43] joernweissenborn commented on #24
I leave it to your judgment if your sounds could make copyright issues, but if you made them yourself there should be no issues and we could keep a few in for demo. In the end, people will not use the wholl repo but only the min.css

[2019-11-16 23:49] jrwarwick commented on #22
The "a" tag, like <a href="xyz.html"> is originally known as the
"anchor"tag. So text hyper links should have color more subtly different
than plain text, and perhaps a color other than blue. Also the
"pseudo"classes refer to situational variations like when hovering. Each of
these have a specific CSS selector.
https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes

So maybe
golden-tanoi

[2019-11-16 23:54] jrwarwick commented on #24
Right, good point. Ok I will just leave in the few place holders for the
easy demo. As you say, no threat since I just created them from scratch.
Maybe I will just add a quick note about the renaming and the sites that
might be good sources for users to collect from. Would be ok?

  --Justin

On Sat, Nov 16, 2019, 15:43 Jörn Weißenborn <notifications@github.com>
wrote:

[2019-11-16 23:58] joernweissenborn commented on #22
OK, I see, but only within the text, not in navigation or buttons. so I guess the changes need to made (here)[https://github.com/joernweissenborn/lcars/blob/master/lcars/stylus/lcars_text_box.styl].

Can you suggest defaults?

[2019-11-17 00:01] joernweissenborn commented on #24
Perfect. A link should not hurt so fine with me.

Am So., 17. Nov. 2019 um 00:54 Uhr schrieb Justin Warwick <
notifications@github.com>:

[2019-11-18 22:09] jrwarwick opened #26 "Support for Special Elements with complex geometry"
Some elements with complex geometry will be difficult to achieve with "pure" CSS, yet are really iconic in the LCARS/okudagram style. For instance, the classic circular X/Y control found on many consoles including the helm.
I have found that although less well widely known, the SVG support in browsers is really pretty good these days. This may be a nice way to meet this need, and it can be done in

[2019-11-18 23:46] joernweissenborn commented on #26
Totally right. SVG is the path to go here. The only thing is tht people
want to have nice event options so one can link it it to whateverJS.

I guess it would be nice to have some iconic demo SVGs included, together
with interactive demo.

Am Mo., 18. Nov. 2019 um 23:09 Uhr schrieb Justin Warwick <
notifications@github.com>:

[2019-11-19 00:22] jrwarwick commented on #22
I suggest this:

[code]

I do not know how to put that into Stylus.
A couple of helpful supplementary references on anchors and CSS:
https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links
https://stackoverflow.com/a/10510353/537243

[2019-11-19 00:40] joernweissenborn commented on #22
Can you share a picture of what you want to achieve?

I have an idea of just creating a rule that every child of a row or column will get this properties as defined by the closest parent.

It is as complicated as it sounds, because, you might what to define this things like you want to only have it in text boxes, but what about the elbow bars, they will pick it up.

Sorry for the Wesleying ;)

In

[2019-11-20 07:51] jrwarwick commented on #22
Now that I have read the index doc more carefully, I am not thinking about text-box, which says that it is not for longer texts. I am indeed thinking of the longer texts. Imagine someone reading the on-board copy of the Federation Encyclopedia. The inline hyperlinks to other related articles is what I'm thinking about. Mostly within `<p>` paragraph tags.
Right now we have this:

![image](https://u

[2019-11-20 19:47] jrwarwick commented on #17
I would like to propose the idea of having a more semantic design (which, in-universe, is an obvious implied design principal, but in practice, I realize they just needed it to seem/feel that way and were not always consistent in the set building and decoration). Have a more abstract set of conceptually-named palette slots such as:

- Primary (Element/Function)
- Secondary
- Tertiary
- Information

[2019-11-22 22:40] jrwarwick opened #27 "Clipping on header too low"
In the simple side-bracket case, as demonstrated in the index.html sample/doc, the entire height of the header is a "clipping" zone for the main content:
![image](https://user-images.githubusercontent.com/1444084/69465338-c3f0fe00-0d35-11ea-942d-0b85af81f31a.png)

If we want content to be able to scroll up past the bottom of the curve, but still also get clipped out above the bracket, more markup

[2019-11-23 00:19] jrwarwick commented on #27
The same could be done with the bottom, however I see there is an issue with the BAR being too tall (it is covered up normally). If a reasonable way to reduce the height by 4.5 rem (the height of the bottom horizontal bar), then this would do:
[code]

[2019-12-06 00:14] jrwarwick opened #28 "Audio feature documentation should be expanded and more detailed"
Existing Audio feature should have more detailed documentation in the index/doc including an example.

[2019-12-08 20:45] #24 closed

[2019-12-08 20:45] #28 closed

[2019-12-09 23:51] jrwarwick opened #30 "Placeholder audio filename input_neg_ack is incorrect"
https://github.com/joernweissenborn/lcars/blob/bf41d197b20afd6b466e4dfa23c4c76c0d3d3ddc/lcars/js/lcars_audio.js#L36

audio/input_neg_ack should be audio/input_nak

[2019-12-18 16:01] jrwarwick commented on #15
@tenleftfingers Amazing work. Would you consider extracting the "Small Display" into a basic html template page and submitting as separate, additional file in a Pull Request? Per Joern's guidance in other issues (e.g., #25 ) external resource files such as libraries and fonts would need to be removed or perhaps commented out.

[2019-12-18 18:39] tenleftfingers commented on #15
@jrwarwick it would be late Jan before I could get time to separate out the HTM, PHP, and JS, but I'm happy to do it. Or I can send it to you sooner of you'd like to.

[2019-12-20 19:16] jrwarwick commented on #18
@tenleftfingers , I am not totally clear on the problem and resolution, but I'm sure I (and others) will run into it. Perhaps you would create a little description of the problem and your now corrected understanding and then incorporate that into the index.html documentation.

If you cannot find a nice and clear way to place it into the main documentation text, maybe @joernweissenborn  would consi

[2019-12-20 19:49] jrwarwick commented on #15
@tenleftfingers I found your LCARS-props repository and dug into it. I ended up trying to go at it from scratch to really make it simple and basic (https://github.com/jrwarwick/lcars/tree/feature/template2). I still have a few problems I'm trying to iron out.

Maybe later we can compare, possibly have both to show basic vs. advanced technique.

[2020-01-07 21:25] jrwarwick opened #32 "Some quasi-buttons do not exhibit the color change behavior when active"
Let "quasi-button" mean a div with the button class. The intended behavior is for the button to change color (by receiving the :active pseudo-class) when clicked. I observe some lcars-elements with button class do and some do not change color on click. Particularly, those that are in a bar and/or header.

Upon closer examination, it looks like some elements background color are marked !important,

[2020-02-11 22:17] jrwarwick opened #34 "Colors section missing some colors, duplicates of pale-canary and lilac"
Under section  ["Colors"](http://joernweissenborn.github.io/lcars/#colors) of the doc/demo index.html page:

1. there are duplicate sample cells for pale-canary and lilac
2. lcars-gray and white are not given a demo cell
3. red-alert red is not displayed, nor is it defined in the lcars_colors stylus source.

[2020-02-20 16:56] jrwarwick commented on #14
Everyone has made good suggestions here, and #13 and #19 inform the discussion further, I think. I propose:

First defining the standard basic/typical layouts, and then creating a templateX.html file for each. These should be clean and well commented inside to illustrate the way rows and columns work, and how to nest correctly, which CSS classes are too-specific to use in all situations, etc. The

[2020-02-22 19:00] xenziffen opened #36 "Example Horizontal Bars are using old attributes. Not rendering."
In the "Elbows" section, the example attempts to show horizontal bars. It is using invalid classes so the bars and end caps are not rendered.

[2020-02-25 16:44] jrwarwick opened #38 "lcars-title class should have character glyphs same height as parent bar element, visually"
Currently, the lcars-title class (that is seen in the solid horizontal bar with embedded text) shows the text's character glyphs with a little bit of empty space above and below the top and bottom of the bar's height. Instead, the text should visually have characters exactly the same height as the parent bar element.

My first pass at this is to add these two rules to the lcars-title class:
[code]

[2020-02-25 16:46] jrwarwick commented on #38
![lcars-title_modified](https://user-images.githubusercontent.com/1444084/75267557-3fd26a80-57ab-11ea-8a79-baa13bceb8ed.PNG)

[2020-02-25 16:46] jrwarwick commented on #38
![lcars-title_modified](https://user-images.githubusercontent.com/1444084/75267557-3fd26a80-57ab-11ea-8a79-baa13bceb8ed.PNG)

[2020-02-25 17:12] jrwarwick commented on #36
@xenziffen good catch, I never even knew those elements were there!

[2020-02-27 04:13] xenziffen commented on #38
In my fork I changed the display to flex on that title element and then centered the text both directions

`justify-content: center`
`align-items: center`

That is consisted with how the lcars-elements handle font adjustments and I think it gives the results you are trying for, without stressing about being exactly as high as the horizontal bar

![lcars-title](https://user-images.githubusercontent

[2020-02-27 04:48] xenziffen commented on #38
Although you are right. Having the height match exactly is a nice effect.
Can Stylus set a CSS value that forces the uppercase style to have the same height as the other 'bar-height' items?

[2020-02-27 17:00] jrwarwick commented on #38
I'm pretty new to Stylus, and not-quite-advanced in CSS stuff, caveat et cetera. Stylus does have some functions and variables type of features, but ultimately you compile it to static CSS. So whatever challenges and limitations we have there, we'll more-or-less be up against.

So I think my answer to your question would be something like:  probably yes, and we should try it, but there may be othe

[2020-02-28 02:05] xenziffen commented on #38
I read a [deep-dive blog](https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align) on controlling font height, and the practical answer is 'no, CSS does not have that level of font control'.

Ideas for if this had to happen would be tables of font-sizes for targeted platforms and tested font configurations. If you were trying to do it for an environment you control, like say a ki

[2020-02-28 02:45] xenziffen commented on #32
I have input on this issue too.

#frameworks should avoid !important
Although I can see why in the case of general color classes if feels necessary [everything selects on class names, you can't know identifiers in advance, class selector specificity has to be overridden somehow].

Like this issue points out though, once the background colors are !important, you end up needing pseudo-class attribut

[2020-02-28 04:31] #36 closed

[2020-02-28 04:39] #34 closed

[2020-02-28 20:31] #22 closed

[2020-02-28 20:38] jrwarwick commented on #32
@xenziffen thank you for the explanation. Your solution sounds much more correct, clean, and future-safe. Would you be willing to create a fresh branch with your superior fix? If a little testing came out good, I would then just kill my pull request in favor of yours.
I'm really glad to have your strong skills at the table.

[2020-02-28 20:40] xenziffen commented on #32
@jrwarwick Yes, I will create a branch for this.

[2020-02-28 21:11] xenziffen commented on #32
I guess I can ask your thoughts on some options available.

We could use:

**1. `body .lcars-color-name`**
Matches for HTML elements that exists within the \<body\>, slightly more specific than just matching on classname, so gets the job done.

**2. `div .lcars-color-name`**
Matches elements contained in a \<div\> at some level. This alternative has the same specificity as option 1, but in some wa

[2020-02-29 00:56] jrwarwick commented on #32
I see nothing wrong with option 1, not too weird, in my opinion. Let's try
that.

On Fri, Feb 28, 2020, 13:12 xenziffen <notifications@github.com> wrote:

--Justin

[2020-03-02 17:56] jrwarwick opened #41 "Automatic audio wireup selector makes omissions, demo/doc page example missing button class"
The automatic wire-up javascript is missing some lcars-elements. selector expressions need expansion.
This might be something to revisit more. Should the expression be really general? or should it be anchored to a few key container element types? Or something in between?

Also note: the example "SP FN" button is missing the button CSS class assignment.

[2020-03-03 18:37] xenziffen opened #43 "Gulpfile configured for older version"
The current `gulpfile.js` file is written for Gulp v3 while Gulp v4 is available. The package manager reminds me there is an update, and in my environment I end up switching between gulp3 and gulp4.

Moving to the new version of Gulp requires designating the default tasks with `serial` or `parallel` for calling the list of tasks. And providing a callback parameter `done` that can be called at the

[2020-03-03 19:58] jrwarwick opened #45 "Simplify Audio section documentation"
Audio doc section contains unnecessary and kind of confusing information and "theory". KISS principle. /Maybe/ stow that other stuff off into a supplemental design/concept page, but definitely it has to be removed from the main page.

[2020-03-04 18:37] xenziffen commented on #27
When I came back to look at this issue I saw the row height was tall because of the elbow layout. Creating a mask where you can control the size is a good idea, because it separates the size of the `blackdrop` from the size of the `bar`, giving good control.

I'm trying to design a more generalized solution where the row continues to be the masking element. It's giving me a hard time with layout r

[2020-03-05 20:42] firthl commented on #20
Really like the spectrum at the top left!

[2020-04-01 20:40] jrwarwick commented on #43
thanks for the upgrade, I struggled (as usual, I am just not "native" in node land ) to get the local bit upgraded but it is all merged in now.

[2020-04-01 20:40] #43 closed

[2020-04-06 01:10] #41 closed

[2020-04-13 22:26] #45 closed

[2020-04-27 02:41] physnoct commented on #25
I think this one is the official font, but it doesn't work well.
https://github.com/wrstone/fonts-startrek/blob/master/Swiss%20911%20Ultra%20Compressed%20BT.ttf

That one is similar but works better.
Swiss911 XCm BT.ttf

[2020-04-27 05:03] jrwarwick commented on #25
Good find. Thanks, psynoct. Maybe what we can do is have a supplemental
resources suggestions section where we give the exact font names like these
that are known to be more authentic and/or work better, along with sound
effects download resources.

  --Justin

On Sun, Apr 26, 2020, 19:41 physnoct <notifications@github.com> wrote:

[2020-04-27 23:23] physnoct commented on #14
I have done some quick templates for types 1 and 2.
[templates.zip](https://github.com/joernweissenborn/lcars/files/4542481/templates.zip)
For the others, I think the file lcars.css would need to be modified.

[2020-04-28 19:04] physnoct commented on #14
Done template type 3

[2020-04-29 00:56] physnoct opened #47 "Short filenames"
I'm using LCARS on an embedded platform (ESP32-CAM). The embedded website files are on a SD cards but the firmware uses common DOS 8.3 filenames.
LCARS works on it when using DOS filenames.

[2020-04-30 19:21] joernweissenborn commented on #47
Hi @physnoct

I am happy to see that LCARS works on embedded (never tried but sure intended to), but I fail to see an issue here. The CSS file is generated from stylus files and is self-consistent. Thus you are free to rename it to a shorter (DOS-Compatible) name and adapt the import in your HTML.

Does this info help you?

[2020-04-30 19:29] joernweissenborn commented on #16
I think we have enough collaborators and issues for advancement so this issue can be closed.

Thank you guys for joining this project and working on it!

[2020-04-30 19:29] #16 closed

[2020-04-30 19:38] joernweissenborn commented on #18
This should be in the tutorial, since it is a core feature of the library. A more elegant way would be nice but I had not found a better one yet.

[2020-05-02 00:29] jrwarwick commented on #14
@physnoct I took a quick look at type1 and it looks really good to me. Very clean on the inside, scroll and resize behavior is what I would expect. Really nice. Tested on chrome on Windows.

I wonder what you and what @joernweissenborn think about possibly including so called "responsive" css class changes for the grid size.  What I mean is: when screen is pretty big, maybe lcars-u-5 should be rep

[2020-05-02 18:53] physnoct commented on #14
Here is the type 3 template
[type3.html.gz](https://github.com/joernweissenborn/lcars/files/4568568/type3.html.gz)

[2020-05-14 02:16] jrwarwick commented on #14
@physnoct  I just tried type 3 and it looks really nice overall, but I found that content I was putting into  the main container is up underneath the header area. Maybe there is a class missing ? Or some kind of spacer needed?

[2020-06-09 18:11] jrwarwick commented on #47
I agree with Joern on this one. But if you wanted to create some special-case build rules in a separate gulp job definition file that would generate 8.3-compliant filenames, I think we could find a way to include that, as long as it tests out ok and runs without error. I will close for now, but I can reopen if you decide you want to create a PR for that.

[2020-06-09 18:11] #47 closed

[2020-06-09 22:10] #32 closed

[2020-06-09 23:37] #26 closed

[2020-06-09 23:37] #30 closed

[2020-06-16 21:31] jrwarwick opened #50 "Audio module bugs"
Console shows nominal error almost everytime page loads due to the "booted-up"/"ready" audio signal which wants to play _before_ user has interacted with page, which is disallowed by browsers. Need to make a check and avoid triggering error.

Also ready signal is missing from doc and module audio element registration.

Sounds are a bit too loud, while we're fiddling about with this.

[2020-06-16 21:35] #50 closed

[2020-06-26 23:48] jrwarwick commented on #8
https://github.com/joernweissenborn/lcars/releases/tag/v1.0.0-beta

[2020-06-26 23:48] #8 closed

[2020-09-06 12:47] dthv commented on #25
I see the current default is Arial? Arial Narrow works very good for an LCARS Font; many won't see it's not the original. Take Liberation Sans Narrow for a free alternative that you probably can include (haven't checked license, though).

[2020-09-06 16:19] dthv opened #53 "elements / buttons in thin/horizontal elbow-bars"
I'd love to see elements/buttons in the thin/bottom horizontal elbow-bars. While @tenleftfingers seems to have directly formatted this in the screenshots they #15, the fork of @xenziffen seems to support this, natively (cf. screenshot in their post in #38 and their fork).

Right now, including elements makes them stand out to top or bottom, which is not always desirable.

[2020-09-06 17:33] dthv opened #54 "brackets to support text content"
I'd love to see brackets of all kinds support text content like elements do. While left and right brackets obviously can only support one or two letters (probably numbers?), the top and button brackets can support text according to their width. The content of hollow brackets should appear white, by default, to be readable on black backgrounds, obviously. :-)

[2020-09-10 15:02] jrwarwick commented on #25
Thanks, @dthv . It looks like the situation with Liberation Sans Narrow is: it can be had under the SIL OpenFont License, however it depends on which version! https://github.com/liberationfonts/liberation-sans-narrow#current-release
I also found a pretty nice OpenFonts Library option: Bebas Neue Regular, though it is capitals-only (which some may consider a feature, not a flaw).

Thanks to the way

[2020-09-10 17:18] dthv commented on #25
Actually, Liberation Sans Narrow cannot be had under the SIL OFL, at all. [As of Fedora recommendation](https://fedoraproject.org/wiki/Features/Liberation_Fonts_2#Benefit_to_Fedora), most of the *Liberation* fonts are (now) licensed under SIL OFL. However, due to some unspecified problem, *Liberation Sans Narrow* is not. Instead, it is still (as the other fonts were) licensed [under a modified GPL

[2020-09-29 19:33] Fr4nk1973 opened #55 "Questions about rows and columns"
Hello,
I'm trying to build a design like in the picture.

![lcars](https://user-images.githubusercontent.com/29870855/94606517-e1b6ba00-029a-11eb-94ff-c919b240cc61.JPG)

How do I have to build the arrangement so that I have more columns and rows at the top. In my experiments they are always mixed up ...

Sorry for my english, i use google translated ...
Greetings Frank

[2020-10-01 00:07] Fr4nk1973 commented on #38
Hello Xenziffen,

can you post the code from your Lcars for Example?

[2020-10-01 00:23] xenziffen commented on #38
I have a fork with my changes.

https://github.com/xenziffen/lcars

I tried doing pull requests at first, but I haven't been active enough to
coordinate getting the features I wanted to build out into this source.
There's plenty of differences now, especially in audio and the elbow
elements.

On Wed, Sep 30, 2020, 17:07 Fr4nk1973 <notifications@github.com> wrote:

[2020-10-08 18:38] Fr4nk1973 opened #56 "Input"
Hello,

Has anyone thought about how to use "inputs" in Lcar style?

[2020-10-18 14:42] dthv commented on #56
I'd say `text` or `password` inputs go best with leading/trailing left/right end elements. I'd put `textarea`s in brackets.

[2020-10-18 21:48] joernweissenborn commented on #56
In proper LCARS no Text Input should be needed. You have Voice recognition for that :laughing:

No, I  never thought of it. In LCARS philosophy, the interface represents everything the you might want to do from the context of what it is displaying (and maybe your user role) in way that it is "at your finger tips". To do that, assuming you have finite space to display you want, you need to pin down

[2020-10-18 22:51] dthv commented on #17
One would actually need more than one stylesheet for some series. Especially TNG develops LCARS a lot and there are also changes within DS9 and Voyager.

For a start, much of TNG uses rather sober colours with *husk* for primary elements, with *danub*, *periwinkle* and *blue-bell*. But there are also lighter settings with *atomic-tangerine* or *neon-carrot* and some *hopbush*. LCARS tend to get bl

[2020-10-19 18:30] joernweissenborn commented on #17
Yeah, basically one stylesheet needs one per season. I think there are 2
options.

First one is to create classes like `lcars-tng-s1-light-blue`.

Or create semantic classes like `lcars-light-blue` and then have different
options by important a stylesheet like `lcars_tng_s01_colors.css` which
defines them.

The first approach allows to mix the schemes, the second one to interchange
them easily. Wh

[2020-10-19 18:35] joernweissenborn commented on #55
Hi, I see you are german, so feel free to ask in "Deutsch"  :)

Was genau moechtest du machen? Kannst du deinen Quelltext zeigen?

[2020-10-19 19:33] dthv commented on #17
I think the method proposed by @jrwarwick would be best, as it is semantic. Just classes like `lcars-primary-color`, `lcars-secondary-bg` and so on that are defined with different stylesheets like, indeed `lcars-tng-1-color.css`. This stylesheet would then define the colours.

It would also be cool to make effects more or less configureable. Either by hardcoding 'partners' to each color or by intr

[2020-10-19 20:04] joernweissenborn commented on #17
Ok, thats ok with me, if @jwarwick is ok.

I suggest open a PR and implement the solution @dthv :D

Am Mo., 19. Okt. 2020 um 21:34 Uhr schrieb dthv <notifications@github.com>:

[2020-10-19 20:15] dthv commented on #17
Sadly, I do not have a glimpse of a clue on how to do that with stylus. Sorry. :-/

[2020-10-19 20:42] joernweissenborn commented on #17
If you know CSS , then Stylus is easy. Just see it as CSS in a Python like
syntax. Then you run a program (in this case gulp) which translates stylus
files to CSS, It's really worth learning if you do web stuff.

Am Mo., 19. Okt. 2020 um 22:16 Uhr schrieb dthv <notifications@github.com>:

[2020-10-19 20:44] joernweissenborn commented on #17
just look here: https://stylus-lang.com/

Am Mo., 19. Okt. 2020 um 22:42 Uhr schrieb Jörn Weißenborn <
joern.weissenborn@gmail.com>:

[2020-10-20 16:47] jrwarwick commented on #17
Yes, I definitely prefer the use of semantic css class names (more or less as in my prior post), and see that it makes sense to have the schemes (and thus the final compiled css files) named per series _and_ season.

@dthv would you describe a little more your suggestion for the configureable effects? Do you mean the color briefly displayed by buttons while they are in a pressed/active state? And

[2020-10-20 17:35] dthv commented on #17
I don't. But I'm willing to look into it. Please just don't expect quick results. There won't be. ;-)

Yes, and yes. Yet, while we're at it, I'd like to introduce *highlight* as another, say, state, leading to the following list of possible states:
* *standard* being how the element is normally displayed
* *highlight* for when the element shall drag attention on itself
* *active* to react on a use

[2020-10-20 17:56] joernweissenborn commented on #17
Hmm, I personally like the fact that for most things LCARS is a stylesheet
only. When you add JS, like it was done with audio, please make sure it is
opt-in and people can continue to use it as just a stylesheet.

Am Di., 20. Okt. 2020 um 19:35 Uhr schrieb dthv <notifications@github.com>:

[2020-10-20 18:11] dthv commented on #17
Definetly. Nobody likes JS, anyway. ;)

[2020-10-20 18:22] dthv commented on #56
How would a cursor look in LCARS style, anyway? :thinking:

[2020-10-22 09:17] Fr4nk1973 commented on #55
Hallo,
auf Deutsch klappt das schon viel besser 👍
Ich habe versucht die Buttons so wie oben in dem Bild mit lcars-row und lcars-column anzuordnen. Habe es allerdings nur geschafft, indem ich da wo keine Buttons sind Schwarze Buttons eingesetzt habe. Leider zerschießt die <Form> dann die Größe der Buttons...
![lcar2](https://user-images.githubusercontent.com/29870855/96849715-44dcdc00-1456-11eb-8cc

[2020-10-22 14:32] dthv commented on #55
Klingt, als bräuchtest Du Spacer. Nicht sicher, ob das mit den lcars-bar Elementen geht. Möglicherweise fehlt da tatsächlich ein Feature. :slightly_smiling_face:

[2020-10-27 17:52] jrwarwick commented on #56
For the vast majority of "operational activities" as portrayed, I think Joern has covered the canonical answer pretty well. However, because:
1) some people may wish to explore some logical realistic scenarios (e.g., surely sometimes a roomful of people needed to be inputting data or taking notes and could not all be speaking aloud simultaneously, or what about mute persons) but still with an in-f

[2020-10-27 19:21] alexfornuto opened #57 "Documentation request: How do I incorporate this project?"
First off, thanks for this repo! I look forward to being able to use it.

I assumed I could `npm install` this into my project and import it, is that the case? If so, what's the syntax to import it?

If not, what's the suggested method of implementing this project into a site?

[2020-10-27 19:43] jrwarwick commented on #17
@dthv I think I have you (at least partially) covered for that last request for Red Alert effect:
https://github.com/jrwarwick/lcars/tree/add-module-mode

As Joern said, this would strictly be an optional module, disabled by default. Implementation so far requires a modern enough browser to handle css filters. It worked pretty well on chrome on desktop and android for me. Not flawless, though. Try

[2020-10-28 01:47] Garrett- commented on #57
I would suggest taking a look at the [demo page](https://github.com/joernweissenborn/lcars/blob/gh-pages/index.html). It's very simple but should help to demonstrate implementation.

Include the fully compiled CSS file. Include the audio JS file (optional). Then it's a matter of understanding how to use the classes.

[2020-10-28 15:20] alexfornuto commented on #57
Yes, I looked at the demo. This is documentation by example, which is great for those who have done this sort of thing before. Consider documenting this project as if it was the first of it's type people would try to use, as it may inspire someone to learn.

I ended up adding the repo as a submodule, then importing the css file directly from there, but it seems an inelegant solution so something I

[2020-10-28 16:08] jrwarwick commented on #57
I would say instead that this project bears a different kind of elegance. You can download, develop and use this with nothing more than a browser and a text editor! Just download zip distribution, unzip, and open index.html in your browser (as long as you don't have strict no-local filesystem policy). Now you can edit index.html with a simple text editor and reload the page. Very, very lightweight

[2020-10-28 21:05] alexfornuto commented on #57
Maybe? I'm just a technical writer forced to dev his own solutions, both at work and for personal projects. Maybe I'm over-thinking it, and just importing the style sheet is good 'nuff.

Then again, it would also be cool to have React components for common LCARS component configurations that were drop-in usable, but that's a little out of scope for this issue.

Feel free to close, or keep this iss

[2020-10-31 01:23] joernweissenborn commented on #57
I put some thought into the documentation issue.

The basic idea is, that every should work like Bootstrap. You import the the CSS file (which is transpiled from stylus code) and add classes to your `div` etc. So I think we maybe need to extend our Readme and explain this approach a better.

If you know bootstrap, then you know how LCARS works. What do you think @jrwarwick ?

[2020-10-31 01:26] joernweissenborn commented on #57
@alexfornuto I am very glad we brought you further in your LCARS dreams, that is why this project was created (besides my own LCARS dreams) :D

[2020-10-31 17:17] jrwarwick commented on #57
I agree completely, @joernweissenborn .
Perhaps also a portion of that explanation can also be copied into the top, introduction section of the example/doc as well.

[2020-11-01 15:08] dthv commented on #17
VERY nice! I'd love to see that implemented (again, as optional and disabled by default). Worked good on Firefox as well (not flawless, though, as within red alert mode there appeared a red box downmost of the page).

Still, even in red-alert mode one should be able to see which element is primary/secondary/tertiary function and so on. One would need different hues of red (and white/grey, cf Nemes

[2020-11-01 15:13] dthv commented on #57
The demo file's source is in `lcars/lcars/index.html`, right?

[2020-11-02 03:25] jrwarwick commented on #57
Yes, exactly. It is both documentation and an example at the same time.
Kind of also a starter/template; just rip out the stuff you don't want and
replace the content of what you do want. Examining the source of index.html
should reveal some source comments that will help explain some of the way
it works, too.

Some time in the future we are probably going to have a few supplemental
templates that

[2020-11-02 18:02] jrwarwick commented on #57
Perhaps a tangent, but @joernweissenborn , I have noticed that in the demo/doc's html header, there is a style element with a few rules, including making the body background-color: black. My reaction is that it (and perhaps the other rules, too)  should go into the Stylus source as well, but perhaps it should not for a reason or scenario I have not thought about. If the latter is the case, this sh

[2020-11-02 21:38] alexfornuto commented on #57
As a tech write, let me just say I'm very happy to see a project like this have maintainers publicly discussing docs best practices. :heart:

[2020-11-03 18:48] joernweissenborn commented on #57
@alexfornuto Nothing to hide here, we are all here to learn from each other :)

@jrwarwick Yes, at one point it even was in the `lcars-app-container` class. It is commented out, see [here](https://github.com/joernweissenborn/lcars/blob/master/lcars/stylus/lcars_container.styl#L4). I don't remember why I did so, maybe I just forgot. One can easily test by (un-)commenting regarding lines, I don't ha

[2020-11-04 00:09] jrwarwick commented on #56
Here is my proposal to get a start on inputs (in a new Inputs section partway down the page):  https://htmlpreview.github.io/?https://github.com/jrwarwick/lcars/blob/add-input-elements/lcars/index.html

I've put a little disclaimer in the doc, and remember its optional; just some better than-out-of-the-box defaults, at this point.

Also, I haven't done a lot of different browser testing. It would

[2020-11-05 16:24] Fr4nk1973 commented on #56
Great, then I'll go straight to the implementation

[2020-11-05 18:13] jrwarwick commented on #56
@Fr4nk1973 , I'm sorry I didn't understand that. Do you dislike my implementation and you wish to create an alternative implementation? Or did you mean that you will go straight to examining the implementation that I linked to?

[2020-11-06 10:48] Fr4nk1973 commented on #56
@jrwarwick ,
Sorry, I mean I would try to add it to my website.

Unfortunately my english is not very good so i use google translator....

[2020-11-06 16:17] jrwarwick commented on #56
No worries at all. I am afraid my German is far, far worse than your English, so I may just ask for some clarification once in a while.

I am open to some suggestions on changing the defaults further, but also remember since this is CSS, you can always just add in a few more rules of your own into get what you are looking for, even referring to the same class names in your own CSS file.

[2020-11-06 18:44] dthv commented on #56
@jrwarwick I had some errors (I think) on Firefox. But in principle, it already looks *very* good!
Only thing I'd want to have added are vertical sliders. I only say: transporters. :slightly_smiling_face:

[2020-11-06 19:22] jrwarwick commented on #56
@Fr4nk1973 thank you for trying it out. Can you describe the errors you ran into on firefox? Perhaps also a screenshot?

I did notice some small details that are not perfectly satisfactory, but also may not be addressable yet (i.e., perhaps not until further refinement in shadow DOM api standards offered by browser vendors type of things).

Ah yes! We think very much alike in the matter of vertica

[2020-11-09 19:31] jrwarwick commented on #54
Would you mind perhaps creating a mock-up picture (or you can always provide link to a "canon" screen capture) of what you have in mind?

What text alignment options would be appropriate?

[2020-11-09 19:50] joernweissenborn commented on #54
The brackets can encapsulate anything. They are designed in a way that you
can simply put them at the front/end of your lcars-row/column, no magic
here. They just resize to fit the height/width of whatever is in between,
so they visually catch it. What is in between then is up to you :)

Am Mo., 9. Nov. 2020 um 20:31 Uhr schrieb Justin Warwick <
notifications@github.com>:

[2020-11-10 18:55] dthv commented on #56
@jrwarwick I'm using Firefox 82.0.2 (64bit) on Linux.

#### lcars-text-input
##### single-line
The input field is invisible. This is probably by choice. Yet, I'd strongly propose to decorate it at least by thick left and right borders. Bonus, if the input can be decorated like normal elements can (that's probably already possible?). For the caret: maybe give it the color of the element's decoratio

[2020-11-18 01:08] jrwarwick commented on #56
This is all great feedback, @dthv , thanks. I've made some updates for re-review at https://htmlpreview.github.io/?https://github.com/jrwarwick/lcars/blob/add-input-elements/lcars/index.html

I believe it is important not to decorate by default, that way when someone wants their own custom decorations, they don't have to strip things off. Yet I see the value of what you are suggesting, so I have a

[2020-11-18 01:47] dthv commented on #56
Looking great already! I especially love the decorated single-line input!

You're right on your decoration-approach. Everything should, by default be un-decorated and decoration should be optional. Imho, the single line input decoration is very cool.

Yet, I'm wondering whether left-round / right-round decorators were possible? If I, for example, would design a login-screen, I'd have a left-rounde

[2020-11-18 18:07] jrwarwick commented on #56
Another good suggestion, and good news: perfectly feasible. I have added the left-rounded, right-rounded, and rounded subclass options. This also increases overall consistency.  Thanks, @dthv .

Your scenarios with scrollbars are very much illustrative of the small conundrums I was imagining. It may be that those would just have to be handled by one-off specific CSS classes/rules. For now, that wi

[2020-11-19 05:42] jrwarwick commented on #57
I've created a pull request for this issue. To preview:
https://github.com/jrwarwick/lcars/tree/fix-documentation-introductorial
and
https://htmlpreview.github.io/?https://github.com/jrwarwick/lcars/blob/fix-documentation-introductorial/lcars/index.html
@alexfornuto , how can we make it better?

[2020-11-19 19:09] alexfornuto commented on #57
I did a quick read and it looks pretty good! I'm travelling this week, but I'll take a look next week more thoroughly.

[2020-11-19 19:48] joernweissenborn commented on #57
What I always wanted to add in the docs is some kind of navigation in the elbow. It would make it easier to jump to a specific topic and would also demonstrate use of the elbow as a navigation/tab/whatever bar.

[2020-11-20 02:03] dthv commented on #57
I think that could be actually within reach of my skills. I could do this, but the task would have to wait until end of next week.

[2020-11-20 03:03] jrwarwick commented on #57
@joernweissenborn I put in just 2 such links in my branch, is that what you had in mind? But probably one element for each section? If so, I do have a commit somewhere else (I think in the inputs branch) that adds ID attributes to each h1 tag. Maybe I should push that through first, then this one, then @dthv could file his or her ( sorry, I do not know anything about you) own pull request which re

[2020-11-20 03:38] jrwarwick opened #59 "Need good default styling for html tables"
Need simple sane defaults so tables look a little more LCARS-ish.

[2020-11-25 23:06] joernweissenborn commented on #57
@jrwarwick I don't have dav tools at hand right now, can you post a screenshot of your side menu?

[2020-11-26 01:34] jrwarwick commented on #57
I will do so. However, you can also see it just by following this link:
https://htmlpreview.github.io/?https://github.com/jrwarwick/lcars/blob/fix-documentation-introductorial/lcars/index.html

Notice that it is actually a special webapp that takes a repo url as a parameter and serves it up.

[2020-11-26 19:21] joernweissenborn commented on #57
Nice tool.

The menu looks good!

Am Do., 26. Nov. 2020 um 02:34 Uhr schrieb Justin Warwick <
notifications@github.com>:

[2020-11-27 02:27] #57 closed

[2020-11-29 02:35] dthv commented on #54
![lcars-mockup](https://user-images.githubusercontent.com/11358285/100530485-fe1b9800-31f2-11eb-9361-0896df257c29.png)

This is what I meant. I do not have canon screen capture at hands, but as a general rule, every LCARS element could/should be able to display text and/or being a functional button.

Just imagine styling a lightbox with brackets that surround the presented image. Clicking the left

[2020-11-29 06:55] jrwarwick commented on #54
Although I agree that all elements of LCARS interface are potentially input/button/controls, I do not totally agree that all elements would or should have direct labeling. I believe there are some things that are pure geometry and users are just expected to be familiar or to intuit the function. Very much like our real modern scrollbars; no words/labels, just a shape to interact with.
That, said,

[2020-12-01 20:50] joernweissenborn opened #63 "Rename `master` to `main`"
You all know why. All live matters, even if silicon or just photon based.

@jrwarwick you are the maintainer, the main problem will be diverting ongoing PRs. That's why I leave it to you, you have better overview,

[2020-12-01 21:27] jrwarwick commented on #63
I think the existing PRs are very close to ready to pull in. If you think a small delay in rename is acceptable, I will accelerate those pulls and then the rename can be performed more cleanly.

[2020-12-01 22:06] joernweissenborn commented on #63
Cool, don't wait for my approval, I think you are careful enough.

[2020-12-01 22:21] jrwarwick commented on #54
My minimal, decent defaults:
To preview: http://htmlpreview.github.io/?https://github.com/jrwarwick/lcars/blob/improve-brackets/lcars/index.html

![image](https://user-images.githubusercontent.com/1444084/100803037-4c8d8a00-33df-11eb-809a-41c74bc2dea4.png)

At some point, we should examine @xenziffen's work on bracket fixing:
https://github.com/xenziffen/lcars/commit/a1c40d74d82e8c98955b33cbf69a7f

[2020-12-01 22:29] jrwarwick commented on #63
Technical guidance from github themselves: https://github.com/github/renaming

[2020-12-02 08:45] jrwarwick commented on #17
Here is a more proper CSS-only red alert: https://htmlpreview.github.io/?https://github.com/jrwarwick/lcars/blob/add/red-alert-css/lcars/index.html
To activate, click the snippet of code at the bottom of the Colors section, or click the red-alert class name in the SVG feature guidance. It doesn't have the bugs you mentioned, allows for more control over accents and grades of red, and straight grey

[2020-12-02 10:34] dthv commented on #17
When I click said links in your preview, the page reloads and shows `True`. Using Firefox 83.0 (64bit) on Linux.

[2020-12-02 15:51] jrwarwick commented on #17
I just took a look and got a dffierent set of errors, but it looks like that htmlpreivew feature has reached some resource consumption rate limits :(  I suppose that will eventually reset and the page load will work. Otherwise you will have to just download and serve locally. Perhaps someday we can set up our own preview tool or maybe github actions can help with this.

[2020-12-02 16:58] joernweissenborn commented on #63
Ok, do you think it is better to wait until the GH tooling is completed?

[2020-12-02 20:35] jrwarwick commented on #63
I'm kind of undecided. We only have a few right now. I'm sure that tool is highly necessary for repos that have dozens of PRs (and more coming in all the time). I think we can afford to do it sooner, "by hand" but it would definitely be better to do so with an empty PR queue. That link is still useful one way or the other, as it lists steps to take even if performing manually.

[2020-12-03 18:26] #56 closed

[2020-12-03 20:56] #59 closed

[2020-12-03 20:59] jrwarwick opened #64 "Demo/doc left-hand side-bar navigation has too many buttons"
With the adding of sections, the left-hand side bar now overflows on the bottom on not-too modestly sized screens (a laptop, in my case). Even though it reduces the flavor, I think we need to lose the "TOP" button and the "SRC" button. Or possibly if someone is feeling ambitious, move them to the bottom horizontal footer frame bar.

[2020-12-03 21:01] jrwarwick commented on #63
The PR queue is clear now for a manual rename of the default/primary branch.

[2020-12-03 21:41] dthv commented on #64
Moving them to the horizontal bars entails modifying the element's height. This is something @xenziffen managed to do in their fork. Their solution should be integrated (and/or improved).

On the issue: For the future, it would be preferably if one finds a solution for overlong elements, esp. bars. This could entail "half-height" buttons (not exactly half, I'm afraid) that would also fit in the ho

[2020-12-03 23:16] joernweissenborn commented on #63
Energize! :D

Am Do., 3. Dez. 2020 um 22:01 Uhr schrieb Justin Warwick <
notifications@github.com>:

[2020-12-04 03:50] jrwarwick commented on #63
Aye, Captain. Course laid in. The branch "master" has been renamed to "main", however two steps remain:
Change the repository default branch to "main" (which must be done in the "Settings" tab of GitHub, which I do not have access to), and then a final delete of the residual master branch here in github. Would you do the honors, @joernweissenborn ?

[2020-12-04 16:12] xenziffen commented on #64
I do encourage you to use/copy any useful changes from my fork. I attempted
PRs then mothballed my local.

The color CSS specificity, horizontal bars and sweep transitions, and
brackets were all adapted and I hope could be useful.

I stalled at audio element improvements and layout templates. I think I
only made 3 standard layouts, and didn't revise the example content as much
as needed.

On Thu,

[2020-12-04 16:26] jrwarwick commented on #64
@xenziffen I have discovered that you will not be credited as a "contributor" by GitHub systems unless you file a PR. Indeed, I believe there are a few of your commits in there already (I must have branched off of your fork or something), which brought in your work on color specificity (three commits starting with aeec4897376801b496ac7b4ea77ec91c2dcd9dec from around the end of February), but that

[2020-12-04 20:42] joernweissenborn commented on #63
I changed the default branch to `main`. I leave deleting of master to you, we should wait a week or so so collaborators can adept smooth.

BTW: Since I just sit make decisions and comment nowadays, the proper way to address me would admiral? :D

[2020-12-09 22:32] jrwarwick opened #66 "Compiled CSS contains a few unnecessarily long floating point representations of irrational numbers"
A few calculated margins and font sizes end up in the compiled css with many digits of precision. Certainly finer than can even be displayed. Should probably just be rounded off in the Stylus source.

[2020-12-09 22:50] jrwarwick opened #67 "Simple Red Alert effect"
It would be nice to have a simple way of activating a Red Alert condition that overrides some styling (mostly color) to emulate the well known Red Alert effect.

[2020-12-23 10:58] dthv opened #69 "Expand contributing section of readme"
I miss information on how to effectively contribute to the project. This is something that could be in the `README.md` within the `Contributing` section. Especially information what exact software is needed to bake stylus code into CSS would be highly appreciated.

[2021-01-28 17:27] #66 closed

[2021-07-06 22:59] TyIsI opened #71 "Getting LCARS to work with React"
Following up on #57:

Just in case anyone else comes across this wondering how to incorporate this into React.

Yes, it is possible. After cleaning up the HTML from the demo page, I've now got it rendering successfully.
Haven't gotten lcarsAudio integrated yet, but I'll try that later.

For now, this is how you can get it to work:

[code]
or

[code]

Then include the CSS in your "Main.js" or index

[2021-08-23 03:41] jrwarwick commented on #71
@TyIsI Thank you for sharing that guidance. Do you have a copy of your cleaned up version of the demo page somewhere we could look at the source? It might be helpful to summarize the changes you had to make and include in this repository's "official" documentation, or maybe even have a separate bonus template that is "React-ready".

[2021-08-31 18:06] TyIsI commented on #71
@jrwarwick let me see what I can do!

[2021-09-29 18:20] TyIsI commented on #71
I was still working on getting the audio to play nicely in the React model. But this is what I have so far:
[code]

I also had to extract the inline SVG to its own files and (obviously) I added your LCARS repository as a dependency in `package.json`.